body {
    width: 100%;
    margin: 0;
    background-color: rgb(97, 16, 97);
    padding: 15px;
    overflow-x: hidden;
    /*this one actually removes the scrollbar*/
    color: rgb(216, 176, 0);
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
h1, p {
    text-align: center;
    width: 80%;
    margin: 18px auto;
}
li {
    font-size: 18px;
}
a {
    color: rgb(216, 176, 0);
}
a:hover {
    color: black;
}
a:visited {
    color: black;
}
.lists {
    width: 90%;
    margin: 25px 20px;
    padding: 10px;
    border: 1px solid black;
}
.list {
    display: inline-block;
    width: 30%;
    margin: 11px;
    border: 1px solid black;
}